.idea/.name
.idea/com.megathirio.shinsei.iml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/dictionaries/Fidget.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml